body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  margin-top: 60px;
  justify-items: center;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2 {
  margin: 0px;
}

p {
  font-size: 18px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(17, 116, 17);
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  background: white;
  color: black;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu a:hover {
  background: #7ed956;
  color: white;
}

.tela {
  display: grid;
  max-width: 300px;
}

.ordem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 230px;
  top: 318px;
}

.artigo {
  display: grid;
  max-width: 280px;
  max-height: 800px;
  padding: 25px;
  text-align: center;
  gap: 40px;
}

.artigo img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 270px;
  height: 213px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.artigo:hover {
  transform: scale(1.02);
}

.teste {
  display: grid;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  gap: 10px;
  padding: 10px;
  max-width: 250px;
  height: 200px;
  align-items: center;
  justify-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.economia {
  color: #7ed956;
}

.lado {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  right: 170px;
}

.lado-style {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 10px 15px;
  padding: 16px;
  border-left: 4px solid transparent;
}

.lado-style a {
  color: rgb(17, 116, 17);
  font-size: 16px;
  text-decoration: none;
}

.lado-style:nth-child(odd) {
  background-color: #f7f7f7;
}

.lado-style:hover {
  border-left: 4px solid #7ed956;
}

.numero {
  font-size: 25px;
  color: #7ed956;
}

.titulo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(20, 24, 26);
  text-align: center;
  position: relative;
}

.titulo::after {
  content: "";
  height: 4px;
  width: 60px;
  background: #7ed956;
  position: absolute;
  top: 40px;
  right: 12px;
}

.destaque {
  color: rgb(20, 24, 26);
  text-align: center;
  font-size: 1.25rem;
}

.container {
  width: 250px;
}

.entry {
  line-height: 80px;
}

input {
  position: absolute;
  outline: none;
  font-size: 1.25em;
  line-height: 30px;
  border-radius: 10px;
  border: 3.5px solid white;
  background-color: white;
  transition: 0.1s ease;
  z-index: 1111;
  top: 158px;
}

input:focus,
input:valid {
  color: #7ed956;
  border: 3.5px solid #7ed956;
}

