/* Padrão */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  margin: 0px;
  display: grid;
  text-align: center;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul a {
  text-decoration: none;
}

/* Menu */

.header {
  background-color: #eef1f1;
}

.menu {
  text-align: center;
  position: relative;
}

.menu li {
  display: inline;
}

.menu li a {
  color: black;
  padding: 30px;
  display: inline-block;
  text-transform: uppercase;
}

.menu li a:hover {
  background-color: #7ed956;
  color: white;
  border-radius: 4px;
}

.container {
  width: 250px;
}

.entry {
  line-height: 80px;
}

input {
  position: absolute;
  outline: none;
  font-size: 1.25em;
  line-height: 30px;
  border-radius: 10px;
  border: 3.5px solid white;
  background-color: white;
  transition: 0.1s ease;
  z-index: 1111;
  bottom: 23px;
  right: 130px;
}

input:focus,
input:valid {
  color: #7ed956;
  border: 3.5px solid #7ed956;
}

.redes {
  display: flex;
}

.icones {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  left: 200px;
  display: grid;
  gap: 5px;
}

/* Texto */

.principal {
  margin-top: 55px;
  display: grid;
  justify-content: center;
}

.principal h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  max-width: 1200px;
  color: #00202e;
}

.principal h2 {
  font-family: "Playfair Display", serif;
  max-width: 1200px;
  font-size: 20px;
  opacity: 0.75;
}

.foto {
  width: 1200px;
  height: 560px;
}

.texto {
  display: grid;
  justify-content: center;
}

.texto p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 1200px;
  line-height: 1.7;
  font-size: 1.1rem;
  text-align: left;
}

.tema,
.autor {
  color: rgb(17, 116, 17);
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(17, 116, 17);
  padding: 20px;
  margin-top: 55px;
  padding-right: 250px;
  padding-top: 30px;
  gap: 0px;
}

.sobre h4 {
  grid-column: 1;
  font-size: 1.5rem;
}

.sobre span,
.sobre h4,
.sobre p {
  color: white;
  text-align: left;
  font-family: "Playfair Display", serif;
}

.sobre span,
.sobre h4 {
  padding-left: 400px;
}

.sobre span {
  font-size: 0.9rem;
}

.rodape {
  background: white;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

.rodape p {
  font-size: 1.25rem;
}
